---
---
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=DM+Sans:wght@400;500;700&family=Roboto&family=Work+Sans:wght@900&display=swap')

html
  font-family: 'DM Sans', sans-serif

.content
  color: #333
  
  p
    line-height: 1.5
    color: #333

@import 'home'