<nav class="h4 flex items-center justify-center">
  <div class="mw8 w-80 flex-ns justify-between items-center mw8 center pv3 ph4 bg-black-05 br3">
    <a class="flex items-center link black-90 db tc b mb3 mb0-ns w3" href="/">
      <img src="/assets/images/logo.svg" alt="SpaceSheep logo" />
      <span class="ml2">
      SpaceSheep
      </span>
    </a>

    <div class="links flex justify-around">
      <a class="black-80 mr4 link underline-hover" href="/">Home</a>
      <a class="black-80 mr4 link underline-hover" href="/about">About Us</a>
      <a class="black-80 mr4 link underline-hover" href="/features">Features</a>
      <a class="black-80 link underline-hover" href="/contact">Contact</a>
    </div>
  </div>
</nav>