---
layout: default
title: SpaceSheep - Project-based computer science learning
permalink: /
---

{% include nav.html %}

<section
  class="mh5-ns mh2 br4 hero pa4 tc flex flex-column justify-center items-center"
>
  <div class="text-wrapper">
    <h1 class="f-subheadline-l f2 mb4 white b measure black-90">
      לימוד פייתון באופן עצמאי לילדי כיתות ז'-ט' מהכיתה או מהבית
    </h1>
    <p class="measure white-90 db center f3 lh-copy black-70">
      כלי תמיכה חינמי למורים המאפשר לימודי תכנות מרחוק או מהכיתה, גם למורים ללא רקע וידע בתכנה.
    </p>
    <div class="db">
      <a href="/contact" class="button mt3 center b">
        Contact Us
      </a>
    </div>
  </div>
</section>

<section class="features flex flex-column items-center pa4">
  <h2 class="f4 gray courier pt5 db">Features</h2>

  {% for feature in site.data.features %}
  <div class="feature mv4">
    <div class="img mw5 center">
      <img
        class="center w-100"
        src="{{ feature.icon }}"
        alt="{{ feature.title }}"
      />
    </div>
    <div class="text">
      <h3 class="black-90 f2 near-black normal lh-title measure mb0">
        {{ feature.title }}
      </h3>
      <p class="f4 lh-copy measure mid-gray">{{ feature.description }}</p>
    </div>
  </div>
  {% endfor %}
</section>

<section
  class="stats pa3 mb4 mt5 bg-lightest-blue flex flex-column items-center pv5"
>
  <h2 class="f4 near-white courier db">אז מה זה תכלס?</h2>

  <p class="f3 measure white lh-copy tc near-black">  
      בשלב זה, מתוך אמונה שכולנו צריכים להרתם לעזרה בתקופה מאתגרת זו, אנו מאפשרים שימוש חינם באתר, וכל שנדרש הוא להרשם, להנות, ולהתחיל לתכנת!   
  </p>  
</section>

<section class="cta mb4 pa3 mt5 flex flex-column items-center pv5">
  <h2 class="f4 mb0 gray courier db">Contact us</h2>
  <p class="f3 tc">
    רוצים לנסות בבית הספר שלכם? תפנו אלינו במייל 
    <a href="mailto:support@sheep16.org">yanaishavivra@gmail.com</a>
  </p>
  <div class="mw8">
    <img
      src="/assets/images/us.jpeg"
      alt="Drawing of Ori, Yanai, Roey, and Ohad"
    />
    <p class="tc"><i>The team</i></p>
  </div>
</section>

{% include footer.html %}
